.container{
    margin-top:10vw;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10vw;
    display:block;
    
    display: flex;
    flex-flow: column;
    box-sizing:border-box;
    width: 48vw;
    height:48vw;
    }
    h1{
        align-items:center;
    }
  .row{
      display:flex;
      flex:1;
      flex-direction:row;
  }
.box1{
    background-color:whitesmoke;
    width:6vw;
    height:6vw;
    

}
.box2{
    background-color:black;
    width:6vw;
    height:6vw;
    
}


